/*

color reference

ff8300 - orange
88C5CC - light blue
084a82 - dark blue
ff2800 - red

*/


/* global */

* {
	margin: 0;
	padding: 0;
	font-family: Lato, Arial, sans-serif;
}

body {
	background-color: #F0F0F0;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

a {
	text-decoration: none;
	color: unset;
}

a:visited {
	color: unset;
}

hr {
	border: 0;
	border-top: 1px solid #DDDDDD;
}

.centertext {
	text-align: center;
}

.attribution {
	font-size: 0.7em;
}

.topspacer {
	height: 80px;
	width: 100%;
}

.card {
	background-color: white;
	
	border: 1px solid #EEEEEE;
	box-shadow: 5px 5px 5px #DDDDDD;
}

/* navigation */

nav {
	position: fixed;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 12px;
	border-bottom: 1px solid #DDDDDD;
	background-color: white;
	z-index: 100;
}

nav a { 
	padding: 10px 30px;

	font-size: 1.4em;
	color: #333333;
}

nav ul {
	width: 1200px;
}

nav li {
	display: inline-block;
	float: right;
}

.navmenuitem {
	margin-top: 16px;
}

#companylogoitem {
	float: left;
}

#companylink {
	padding: 0;
}

.companylogo {
	height: 60px;
	margin-bottom: -12px;
}

#searchitem {
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	margin-top: 10px;
}

#searchform {
	display: inline-block;
	vertical-align: top;
}

#searchicon {
	padding-top: 7px;
	padding-right: 8px;
	width: 1em;
	height: 1em;
}

#searchinput {
	border: 0;
	outline: none;
	
	margin-top: 8px;
	margin-left: 8px;
	
	font-size: 1.1em;
}

#searchlink {
	padding: 0;
}


/* main content */

#banner {
	height: 800px;
	background-image: url("images/banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#bannertext {
	padding-top: 400px;
	position: relative;
	
	font-weight: lighter;
	font-size: 1.5em;
	color: white;
	text-align: center;
	text-shadow: 4px 4px 5px #333333; 
}

#bannertext h1 {
	font-weight: lighter;
	font-size: 4em;
	margin-bottom: 10px;
}

.ctabutton {
	margin: 20px auto;
	padding: 10px;
	border-radius: 8px;
	width: 200px;
	background-color: #084a82;
	font-weight: normal;
	color: white;
}

.bodycolumn {
	margin: 100px 10px;
	padding: 12px;
	width: 25%;
	display: inline-block;
	text-align: center;
}

.bodycolumn h2 {
	margin-bottom: 30px;
	font-weight: normal;
	color: #084a82;
}

.homelogo {
	margin: 30px;
	
	width: 100px;
	height: 100px;
}

.button {
	margin: 30px auto 20px auto;
	width: 120px;
	line-height: 24px;
	border: 2px solid #ff8300;
	border-radius: 5px;
	color: #ff8300;
	padding: 10px;
	display: block;
}

#banner2 {
	height: 800px;
	background-image: url("images/walkinthepark.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

/* footer */

footer {
	padding: 12px 0;
	background-color: #084a82;
	color: white;
	line-height: 30px;

	font-weight: lighter;
}

#footerlogocontainer {
	margin-top: 20px;
	padding: 12px;
	width: 130px;
	border-radius: 5px;
	background-color: white;
}

footer ul {
	list-style-type: none;
}

footer h3 {
	margin-top: 12px;
	line-height: 40px;
}

.footercolumn {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	margin-bottom: 40px;
}

#copyright {
	margin-top: 12px;
	
	text-align: center;
	font-style: italic;
	font-size: 0.8em;
}

